body {
  background-repeat: no-repeat;
  background-image: url('./images/cityscape2.jpeg');
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

#welcome-card {
  background-color: gray;
  color: 225, 225, 225, 0;
  font-size: 24pt;
}

